<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student Details</title>
</head>
<body>
	<p>
		<strong> Student Details </strong><br/>
		{% for key, value in data.iteritems %}
			<p>{{key}} : {{ value }}</p>
		{% endfor %}
	</p>
	
</body>
</html>