<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Student</title>
</head>
<body>
	<form  method="POST">
		{% csrf_token %}
		{# {{ form }} #}
		{% for field in form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}  {{ field }}
		        </div>
	    {% endfor %}
	    <br/>
	 	<input type="submit" value="Submit">	
	</form.as_p>
	<br/>
	{% if data %}
		<p>
			<strong> Student Details </strong><br/>
			{% for user in data %}
				{% for key, value in user.iteritems %}
					<p>{{key}} : {{ value }}</p>
				{% endfor %}
				<br/>
			{% endfor %}
		</p>

	{% endif %}
	{% if error %}
	<p>{{error}}</p>
		
	{% endif %}
</body>
</html>